<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Census Data Visualization</title>

    <!-- Start Head Links for Bootstrap Template -->
    <!-- Bootstrap core CSS -->
    <link href="../public/assets/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="../public/assets/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="../public/assets/bootstrap/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../public/assets/bootstrap/css/creative.min.css" rel="stylesheet">
    <!-- End Head Links for Bootstrap Template -->

    <!-- Start Custom Head Links -->
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/lumen/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/assets/css/custom.css" media="screen" title="no title">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- End Custom Head Links -->
    
</head>

<body>
    <!-- Start Container -->
    <div class="container">
        <!-- Search Bar -->
        <div class="row">
            <div class="search">
                <input type="text" placeholder="Search Any American City">
                <div class="icon"></div>
            </div>
            <script src="../public/assets/js/custom.js" type="text/javascript"></script>
        </div>

        <!-- Default Pie Chart -->
        <div class="row">

        </div>
        <!-- End Default Pie Chart -->

        <!-- End Container -->
    </div>

</body>

</html>